body {
    margin: 0px;
}

#container {
    display: grid;
    grid-template-columns: 7fr 3fr;
}

#main-chat {
    background-color: blueviolet;
    height: 100vh;
}

#side-chat {
    background-color: darkslateblue;
    height: 100vh;
}